<!-- <div class="sneak_peak"> -->


  	
<!-- </div> -->

<div class='container-fluid'>
			<h1> The Pitch. Make Your Case. Get Your Dream Job. </h1>
	<div class="row-fluid span12">
	  	<div class="span3 hero-unit signin">

			<div class="landingform">  
				<h3>Sign in</h3>
				<%= form_tag '/sessions/createuser', :method => 'post' do %>
				<%= label_tag :email, "Email:" %>
				<%= text_field_tag :email %>
		
				<%= label_tag :password, "Password:" %>
				<%= password_field_tag :password %>
		
				<%= submit_tag "Enter", :class => "btn btn-info" %>
		
				<% end %>
			</div>
		</div>	
	
		<div class="container span9">
				<!--  Carousel - consult the Twitter Bootstrap docs at 
		      http://twitter.github.com/bootstrap/javascript.html#carousel -->
		  
			<div id="landingslider" class="carousel slide"><!-- class of slide for animation -->
			  <div class="carousel-inner">
			    <div class="item active"><!-- class of active since it's the first item -->
			      <%= image_tag ("background6.jpeg")%>	
			      <div class="carousel-caption">
			        <h2>Sign up</h2>
			      </div>
			    </div>
			    <div class="item">
			      <%= image_tag ("background2.jpeg")%>	
			      <div class="carousel-caption">
			        <h2>Create a Pitch</h2>
			      </div>
			    </div>
			    <div class="item">
			      <%= image_tag ("background1.jpeg")%>	
			      <div class="carousel-caption">
			        <h2>Get Noticed!</h2>
			      </div>
			    </div>
			  </div><!-- /.carousel-inner -->
			  <!--  Next and Previous controls below
			        href values must reference the id for this carousel -->
			    <a class="carousel-control left" href="#landingslider" data-slide="prev">&lsaquo;</a>
			    <a class="carousel-control right" href="#landingslider" data-slide="next">&rsaquo;</a>
			</div><!-- /.carousel -->
		</div>
</div>
<h2>Past Pitch Successes:</h2>				
 <div class="row-fluid span12 profiles">
        <div class="span3 profstyle">
          <center><img class="img-circle" src="assets/joe.png">
          <h2>Joe Ngo</h2></center>
          <p>This California kid left a cancer research position to pursue his dreams.  Now he travels the world putting his yo-yo skills to the test.  Look for him at your next state fair! </p>
        </div><!-- /.span4 -->
        <div class="span3 profstyle">
          <center><img class="img-circle" src="assets/roneesh.png">
          <h2>Roneesh Vashisht</h2></center>
          <p>Roneesh's passion for dressing like Jesse Thorn day in and day out spurred him to begin web development, so one day he could create the web application that dressed the world. In the meantime he needs a job, so he and three other cool people are creating a web app that addresses their needs. He sincerely hopes it helps you out too.</p>
        </div><!-- /.span4 -->
        <div class="span3 profstyle">
          <center><img class="img-circle" src="assets/brett.png">
          <h2>Brett Hoyer</h2></center>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div><!-- /.row -->
      <div class="span3 profstyle">
          <center><img class="img-circle" src="assets/kate2.png">
          <h2>Brett Hoyer</h2></center>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div><!-- /.row -->
</div>




<script src="javascripts/bootstrap.min.js"></script>
    <script>
  $(document).ready(function(){
    $('.carousel').carousel({
      pause: "hover"
    });
  });
</script>

