<div class="sneak_peak">

<h1> The Pitch. Make Your Case. Get Your Dream Job. </h1>
</div>

<center>
<div class="gallery">
			
			<div class="container c11">
				<div class="wrap">
					<div class="front">
						<img src="assets/background3.jpeg" alt="" />
					</div>
					<div class="back">
						<%= form_tag '/sessions/create_user', :method => 'post' do %>
						<%= label_tag :email, "Email:" %>
						<%= text_field_tag :email %>

						<%= label_tag :password, "Password:" %>
						<%= password_field_tag :password %>

						<%= submit_tag "Enter" %>
						<% end %>
					</div>
				</div>
			</div>
			
	<!-- 		<div class="container c12" data-link="http://www.facebook.com/pages/jscraftnet/157350924364373">
				<div class="wrap">
					<div class="front">
						<img src="assets/background2.jpeg" alt="" />
					</div>
					<div class="back">
						<p>Facebook</p>
					</div>
				</div>
			</div>
			<div class="container c21">
				<div class="wrap">
					<div class="front">
						<img src="assets/background1.jpeg" alt="" />
					</div>
					<div class="back">
						<p>Forrst</p>
					</div>
				</div>
			</div>
			<div class="container c22">
				<div class="wrap">
					<div class="front">
						<img src="assets/background0.jpeg" alt="" />
					</div>
					<div class="back">
						<p>Dribbble</p>
					</div>
				</div>
			</div> -->
</div>
</center>