<!-- <div class="sneak_peak"> -->

<h1> The Pitch. Make Your Case. Get Your Dream Job. </h1>
  	
<!-- </div> -->

<div class='container-fluid'>
			
	<div class="row-fluid span12">
	  	<div class="span3 hero-unit signin">

			<div class="landingform">  
				<h3>Sign in</h3>
				<%= form_tag '/sessions/createuser', :method => 'post' do %>
				<%= label_tag :email, "Email:" %>
				<%= text_field_tag :email %>
		
				<%= label_tag :password, "Password:" %>
				<%= password_field_tag :password %>
		
				<%= submit_tag "Enter", :class => "btn btn-info" %>
		
				<% end %>
			</div>
		</div>
		<div class="span8" >



<div class="container">
			<!--  Carousel - consult the Twitter Bootstrap docs at 
	      http://twitter.github.com/bootstrap/javascript.html#carousel -->
	  
	<div id="landingslider" class="carousel slide"><!-- class of slide for animation -->
	  <div class="carousel-inner">
	    <div class="item active"><!-- class of active since it's the first item -->

	      <%= image_tag ("background6.jpeg")%>	
	      <div class="carousel-caption">
	        <h2>Sign up</h2>
	      </div>
	    </div>
	    <div class="item">
	      <%= image_tag ("background2.jpeg")%>	
	      <div class="carousel-caption">
	        <h2>Create a Pitch</h2>
	      </div>
	    </div>
	    <div class="item">
	      <%= image_tag ("background1.jpeg")%>	
	      <div class="carousel-caption">
	        <h2>Get Noticed!</h2>
	      </div>
	    </div>
	  </div><!-- /.carousel-inner -->
	  <!--  Next and Previous controls below
	        href values must reference the id for this carousel -->
	    <a class="carousel-control left" href="#landingslider" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#landingslider" data-slide="next">&rsaquo;</a>
	</div><!-- /.carousel -->

</div>


		</div>
	</div>
</div>				

<script src="javascripts/bootstrap.min.js"></script>
    <script>
  $(document).ready(function(){
    $('.carousel').carousel({
      pause: "hover"
    });
  });
</script>

	