<!-- <div class="sneak_peak"> -->


  	
<!-- </div> -->

<div class='container-fluid'>
			<h1>CareerPivot. Make Your Case. Get Your Dream Job.</h1>
	<div class="row-fluid span12">
	  	<div class="span3 hero-unit signin">

			<div class="landingform">  
				<h3>Sign in</h3>
				<%= form_tag '/sessions/createuser', :method => 'post' do %>
				<%= label_tag :email, "Email:" %>
				<%= text_field_tag :email %>
		
				<%= label_tag :password, "Password:" %>
				<%= password_field_tag :password %>
		
				<%= submit_tag "Enter", :class => "btn btn-info" %>
		
				<% end %>
			</div>
		</div>	
	
		<div class="container span9">
				<!--  Carousel - consult the Twitter Bootstrap docs at 
		      http://twitter.github.com/bootstrap/javascript.html#carousel -->
		  
			<div id="landingslider" class="carousel slide"><!-- class of slide for animation -->
			  <div class="carousel-inner">
			    <div class="item active"><!-- class of active since it's the first item -->
			      <%= image_tag ("background6.jpeg")%>	
			      <div class="carousel-caption">
			        <h2>Having a hard time finding a job?</h2>
			        <h4>We know how tough it is to stand out in this economy. Show off your passion and enthusiasm with CareerPivot to get noticed.</h4>
			      </div>
			    </div>
			    <div class="item">
			      <%= image_tag ("background2.jpeg")%>	
			      <div class="carousel-caption">
			        <h2>Create Pitches that show off your passion and skills</h2>
					<h4>Create a custom pitch about yourself. Distinguish yourself from the rest of the applicants and let your personality and portfolio shine through.</h4>
			      </div>
			    </div>
			    <div class="item">
			      <%= image_tag ("background4.jpg")%>	
			      <div class="carousel-caption">
			        <h2>Send them to employers and get face-to-face meetings</h2>
			        <h4>Employers who can see who you are beyond a resume are more likely to meet with you to discuss what changes you can bring to their organization.</h4>
			      </div>
			    </div>
			  </div><!-- /.carousel-inner -->
			  <!--  Next and Previous controls below
			        href values must reference the id for this carousel -->
			    <a class="carousel-control left" href="#landingslider" data-slide="prev">&lsaquo;</a>
			    <a class="carousel-control right" href="#landingslider" data-slide="next">&rsaquo;</a>
			</div><!-- /.carousel -->
		</div>
</div>
<h2>How to Get Started:</h2>				
 <div class="row-fluid span12 profiles">
        <div class="span3 profstyle">
          <center><img class="img-circle" src="assets/step1blue.png">
          <h2>Sign Up</h2></center>
          <p>blah dee dee blah dee dah</p>
        </div><!-- /.span4 -->
        <div class="span3 profstyle">
          <center><img class="img-circle" src="assets/step2blue.png">
          <h2>Create</h2></center>
          <p>fly dee dee try dee dee</p>
        </div><!-- /.span4 -->
        <div class="span3 profstyle">
          <center><img class="img-circle" src="assets/step3blue.png">
          <h2>Customize</h2></center>
          <p>tra la laaaa!</p>
      </div><!-- /.row -->
      <div class="span3 profstyle">
          <center><img class="img-circle" src="assets/step4blue.png">
          <h2>Get Noticed</h2></center>
          <p>Hello World</p>
      </div><!-- /.row -->
</div>




<script src="javascripts/bootstrap.min.js"></script>
    <script>
  $(document).ready(function(){
    $('.carousel').carousel({
      pause: "hover"
    });
  });
</script>

