<div class="row-fluid">
  <div class="span12 well user_form">
<%= form_for @prompt, :remote => true, id: "new_prompt_form", :url => { :action => "create" }, :html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
	<%= f.label :custom_question %>
  <%= f.text_field :custom_question, :class => "span12"%>
    
	<%= f.label :custom_answer %>
  <%= f.text_field :custom_answer, :class => "span12"%>

  <%= f.hidden_field :pitch_id, :value => @pitch_id %>
  
  <%= f.submit "Submit",:class => "btn btn-primary"%>
  <%= link_to "Cancel", edit_pitch_url(@pitch_id), :class => "btn btn-primary" %>
  </fieldset> 
<% end%>
  </div>
<!-- 
  <div class="right_sidebar span7"> -->

  </div>
</div>