<div class="row-fluid">
  <div class="span5 well user_form">
<%= form_for @prompt, :url => { :action => "create" }, :html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
	<%= f.label :custom_question%>
  <%= f.text_field :custom_question, :class => "span12"%>
    
	<%= f.label :custom_answer%>
  <%= f.text_field :custom_answer, :class => "span12"%>

  <%= f.label :pitch_id %>
  <%= f.text_field :pitch_id %>

  <%= f.submit "Submit",:class => "btn btn-primary"%>
  <%= link_to "Cancel", root_url, :class => "btn btn-primary" %>
  </fieldset> 
<% end%>
  </div>

  <div class="right_sidebar span7">

  </div>
</div>