<!-- Pitch form_for Partial -->

<%= form_for(@pitch) do |f| %>
  <% if @pitch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pitch.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      	<% @pitch.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
      	<% end %>
      </ul>
    </div>
   <% end %>
<%end %>

<div class="row-fluid">
  <div class="span6 offset3 well">
    
<%= form_for @pitch, :html => {:class => "form-horizontal" } do |f| %>
  <fieldset>
	<%= f.label :headline, "Enter Headline"%>
	<%= f.text_field :headline, class: "span12" %></br>

  <%= f.label :user_story, "Enter User Story" %>
  <%= f.text_area :user_story, size: "60x5"%></br>
	<!-- Must eventually be a collection select or auto-populate -->
	<% if params[:job_id].present? && session[:user_id].present? %>

		<%= hidden_field_tag :job_id, @job_id %>
	<% else %>
		<%#= f.label :job_id %>
		<%#= f.text_field :job_id %>

		<%#= f.label :user_id %>
		<%#= f.text_field :user_id %>
	<% end %>
	  

  	<% if @pitch.avatar.present? %>
  	<%= f.label :remove_avatar, "Delete image" %>
  	<%= f.check_box :remove_avatar %>
    <% else %>
    <%= f.label :avatar, "Upload Avatar" %>
    <%= f.file_field :avatar%>
  	<%end%>

 

	<% if @pitch.resume.present? %>
  	<%= f.label :remove_resume, "Delete resume" %>
  	<%= f.check_box :remove_resume, :class => "checkbox" %>
  <%else%>
    <%= f.label :resume %>
    <%= f.file_field :resume %>
  <%end%>

    <%= f.label :video_link, "Put a Youtube embed string in" %>
    <%= f.text_field :video_link %>

  <%#end%> 




<% if @pitch.id %>
  <h3> Create custom questions</h3> 
  
  <ul class="talking_point_list">
    These could be...
    <li> Talking points to address concerns an employer might have </li>
    <li> Highlight your unique skills </li>
    <li> Things that make you awesome and special </li>
    <li> Things you're passionate about that tell us who you are </li> <br>
  </ul>

    <%= link_to "Create Custom Question", "/prompt/new?pitch_id=#{@pitch.id}", remote: true, id: "new_prompt_link" %>

  <h4> Manage existing custom questions: </h4>

    <ul id="existing_prompts">
    <% if @prompts.any? %>
      <% @prompts.each do |prompt_object| %>
        <li>
          <%= prompt_object.custom_question %><br>
          <%= prompt_object.custom_answer %><br>
          <%= link_to "Delete this question", prompt_url(prompt_object.id), method: 'delete' %>
        </li>
      <%end%>
    <%end%>

    </ul>

  <h4> Manage existing prompts: </h4>
   <%= link_to "Add Attachment", "/pitch_attachment/new?pitch_id=#{@pitch.id}", id: "new_attachment_link" %>

   <ul id="existing_attachments">
    <% if @pitch_attachments.any? %>
      <% @pitch_attachments.each do |pitch_attachment_object| %>
        <li>
          <b> Name: </b><%= pitch_attachment_object.name %><br>
          <%= link_to image_tag(pitch_attachment_object.attachment_url), pitch_attachment_object.attachment_url.to_s %><br>
          Click thubnail to Download<br>
          <!-- <b> Pitch Attachment ID: </b> --> <%#= pitch_attachment_object.id %>
          <!-- <b> Pitch ID: </b>  --><%#= pitch_attachment_object.pitch_id %>
          <%= link_to "Edit this attachment", pitch_attachment_edit_url(pitch_attachment_object.id) %><br>
          <%= link_to "Delete this attachment", pitch_attachment_destroy_url(pitch_attachment_object.id), method: 'delete' %><br>
        </li>
      <%end%>

    <%end%>

    </ul>

  	<br><br><br>
<% end %>
<%= f.submit "Submit",:class => "btn btn-primary"%>
</fieldset>
<%end%>

<small>* Denotes field that can't be blank </small>
</div>
</div>
