<!-- Pitch form_for Partial -->

<%= form_for(@pitch) do |f| %>
  <% if @pitch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pitch.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      	<% @pitch.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
      	<% end %>
      </ul>
    </div>
   <% end %>
<%end %>

<%= form_for @pitch, :html => { :multipart => true } do |f| %>

	<%= f.label :headline, "Headline*"%>
	<%= f.text_field :headline %>
	<!-- Must eventually be a collection select or auto-populate -->
	<% if params[:job_id].present? && session[:user_id].present? %>

		<%= hidden_field_tag :job_id, @job_id %>
	<% else %>
		<%#= f.label :job_id %>
		<%#= f.text_field :job_id %>

		<%#= f.label :user_id %>
		<%#= f.text_field :user_id %>
	<% end %>
	  <%= f.label :avatar  %>
  	<%= f.file_field :avatar %>

  	<% if @pitch.avatar.present? %>
  	<%= f.label :remove_avatar, "Chunk image" %>
  	<%= f.check_box :remove_avatar %>
  	<%end%>

  	<%= f.label :resume %>
  	<%= f.file_field :resume %>

	<% if @pitch.avatar.present? %>
  	<%= f.label :remove_resume, "Chunk resume" %>
  	<%= f.check_box :remove_resume %>
  <%end%> 

<% if @pitch.id %>
  <h3> Create some prompts (think of these like talking points) </h3>
    <%= link_to "New Prompt", new_prompt_path, remote: true, id: "new_prompt_link" %>

  <h3> Edit custom prompts: </h3>

    <ul id="existing_prompts">
    <% if @prompts.any? %>
      <% @prompts.each do |prompt_object| %>
        <li>
          <%= prompt_object.custom_question %><br>
          <%= prompt_object.custom_answer %><br>
          <%= link_to "Delete this Prompt", prompt_url(prompt_object.id), method: 'delete' %>
        </li>
      <%end%>
    <%end%>

    </ul>

  	<br><br><br>
<% end %>
<%= f.submit %>
<%end%>

<small>* Denotes field that can't be blank </small>