<!-- SPECIFIC PAGE STYLINGS -->
<style type="text/css">

/*Re-does body css if background image is present*/
<% if @pitch.background_image != nil && !@pitch.background_image.blank?%>
  body {
    background: white;
    background-image: url(<%= @pitch.background_image_url.to_s %>);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:  absolute;
    }

    #like_what_you_see {
      color: white;
    }

    #users_pitch {
      color: white;
    }
<%else%> 
    body { background: white; }
<%end%>

.row-fluid{
  background: rgba(0, 0, 0, .55); /*opaque black*/
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 200px;
  border-right: 200px;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.pagination-centered{
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
}

.row-fluid .span8 h4 {
  border-bottom: 1px solid black;
}

.row-fluid .span6 {
  margin-left: 20px;
}

.row-fluid .span6 h4{
  border-bottom: 1px solid black;
}
</style>


<div id="top"></div>
<!-- All blocks are in div span 8, all span classes per row should add to 8 -->

<!-- ABOVE BLOCKS - EMAIL PROMPT, "USER'S PROMPT" AND PITCH HEADLINE -->
<h4 id="like_what_you_see"><b>Like what you see? Email </b> <%= mail_to @pitch.user.email, @pitch.user.first_name %></h4>

<h2 id="users_pitch"><%=@pitch.user.first_name.capitalize %>'s pitch</h2>
      <p>
        <h1><%= @pitch.headline%></h1>
      </p>



<!-- This div makes all the row's span 8, it's very important -->
<div class="span8 pagination-centered ">

<!-- BLOCK 1 - AVATAR, RESUME AND USER STORY -->
<div class="row-fluid" >
  <div class="span2 offset2" >
      <% if session[:user_id] && @pitch.job_id.nil? %>
        <%= image_tag @pitch.avatar_url(:thumb).to_s, :size=>'200x200', :style => "border: 10px solid white;"%>
  </div>
  <div class="span6" >
        <h4><b><%= @pitch.user.first_name.capitalize%>'s Story</b></h4><p> <%= @pitch.user_story %> </p>
      <%end%>
  </div>
</div>


<!-- BLOCK 2 - USER VIDEO -->
<div class="row-fluid">
  <div class="span8 offset2" >
      <% if @pitch.video_link[/youtu\.be\/([^\?]*)/] %>
        <% youtube_id = $1%>
      <%else%>
        <%@pitch.video_link[/^.*((v\/)|(embed\/)|(watch\?))\??v?=?([^\&\?]*).*/]%>
        <%youtube_id = $5%>
      <%end%>
    <h4><b> Pitch Video</b> </h4>      
    <iframe width="407px" height="284px"src= "http://www.youtube.com/embed/<%=youtube_id%>" frameborder="0" allowfullscreen ></iframe>
  </div>
</div>
 

<!-- BLOCK 3 - USER PROMPTS, INTENDED TO BE TWO COLUMNS -->
<!-- <div class="row-fluid">
  <div class="span4 offset2">
      <%# @even_index_prompts.each do |prompt_object| %>
        <h4><%#= prompt_object.custom_question %></h4>
        <p><%#= prompt_object.custom_answer %></p>
      <%#end%>
  </div>
  <div class="span4" >        
      <%# @odd_index_prompts.each do |prompt_object| %>
        <h4><%#= prompt_object.custom_question %></h4>
        <p><%#= prompt_object.custom_answer %></p>
      <%#end%>
  </div>
</div> -->

<!-- BLOCK 3 - USER PROMPTS AS CAROUSEL -->
<!-- if no prompts: line break, if one prompt: display, if many prompts: carousel -->
<% if @prompts.count < 1 %>
<% elsif @prompts.count == 1 %>
  <div class="row-fluid">
    <div class="span8 offset2">
      <h4><%= @prompts.first.custom_question %></h4>
      <p> <%= @prompts.first.custom_answer %>  </p>
    </div>
  </div>
<% else %>
  <div class="row-fluid">
    <div class="span8 offset2">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
              <h4><%= @prompt_sample.custom_question %></h4>
              <p><%=  @prompt_sample.custom_answer %></p>
          </div>
          <% @prompts.each do |prompt_object| %>
              <div class="item">
                <h4><%= prompt_object.custom_question %></h4>
                <p><%= prompt_object.custom_answer %></p>
              </div>
          <%end%>
        </div>
        <!-- Carousel nav -->
    <a class="carousel-control left"  href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> 
      </div>
    </div>
  </div>
<% end %>


<!-- BLOCK 4 - PITCH ATTACHMENTS -->
<% if @pitch_attachments.any? %>
  <% @pitch_attachments.each do |pitch_attachment_object| %>
    <div class="row-fluid">
     <div class="span8 offset2" >
            <%if pitch_attachment_object.name == "" || pitch_attachment_object.name == nil%>
            <h4 style="border-bottom: 1px solid black;">
            Attachment</h4>
          <%else%>
            <h4 style="border-bottom: 1px solid black;">
            Attachment - <%= pitch_attachment_object.name %></h4>
          <%end%>
          <% if pitch_attachment_object.description %>
            <small> <%= pitch_attachment_object.description %></small><br><br>
          <%end%>
      <% if pitch_attachment_object.attachment_url.end_with?('.pdf') ||   
            pitch_attachment_object.attachment_url.end_with?('.doc') ||
            pitch_attachment_object.attachment_url.end_with?('.pages') %>
      <%= link_to image_tag("document_image.jpeg"), pitch_attachment_object.attachment_url.to_s %><br>
      <%else%>
            <%= link_to image_tag(pitch_attachment_object.attachment_url), pitch_attachment_object.attachment_url.to_s%><br>
      <%end%>
            <small><small>Click thumbnail to Download</small></small><br>
     </div>
    </div>
  <%end%>
<%end%>

<!-- BLOCK 6 - BUT WAIT THERE'S MORE -->
<% if @pitch.resume_url %>
  <div class="row-fluid">
    <div class="span8 offset2">
      <h4><b>Wait, I still have more to offer </h4> 
      <p> <%= link_to "Download My Resume", @pitch.resume_url %> </p>
    </div>
  </div>
 <% end %>


<!-- BELOW BLOCKS - REPEAT OF USER'S EMAIL AND BACK TO TOP BUTTON, THEY HAVE INNER STYLING -->
<p id="like_what_you_see" style="float: left; padding-left: 20px; padding-bottom: 10px;"><b>Like what you see? Email </b> <%= mail_to @pitch.user.email, @pitch.user.first_name %></p>
<p><a href="#top" style="float: right; padding-bottom: 10px;"> Back to To Top </p>


<!-- This closes out the master span 8 div on line approx line 26 -->
</div>


<script>
$('.carousel').carousel({
  interval: 500;
})
</script>
