

<% if @pitch.job_id != nil %>
  <b>Job Title:</b> <%= link_to @pitch.job.title, job_path(@pitch.job_id) %><br>
<% else %>
  <!-- <b>Job Title: No Associated Job (job_id)</b><br> -->
<%end%>

<div class="container-fluid">

<% if session[:employer_id]%>
    <b>Like what you see? </b>
    <br> Email this candidate: <%= link_to @pitch.user.email, email_url(@pitch.id)%>
<%end%>

<h4><%=@pitch.user.first_name.capitalize %>'s personal pitch</h4>

<div class="jumbotron">
  
  <% if session[:user_id] && @pitch.job_id.nil? %>
        
    <h1><%= @pitch.headline%></h1>
    <hr>

  <div class="row-fluid span12">
    <%= image_tag @pitch.avatar_url(:thumb).to_s, :size=>'100x100', :class => "row-fluid span2"%>
    
    
    <p class="row-fluid span8"><b><%= @pitch.user.first_name.capitalize%>'s Story:</b> <%#= @pitch.user_story %>  User story will go here!</p>
  </div>

<div class="row-fluid span12">
  <% if @pitch.resume_url %>
    <p> <%= link_to "Download My Resume", @pitch.resume_url %> </p>
  <% end %>
</div>

        
  <%end%>

  <% if @pitch.video_link[/youtu\.be\/([^\?]*)/] %>
    <% youtube_id = $1%>
  <%else%>
    <%@pitch.video_link[/^.*((v\/)|(embed\/)|(watch\?))\??v?=?([^\&\?]*).*/]%>
    <%youtube_id = $5%>
  <%end%>

    <div class="row-fluid span8 "><!-- offset3 marketing -->
      <iframe width="640px" height="390px"src= "http://www.youtube.com/embed/<%=youtube_id%>" frameborder="0" allowfullscreen ></iframe>
    </div>  
<!-- 
  </div> -->

 <div class="row-fluid span12">
    <div class="row-fluid span8 marketing">
      <div class="span6">
        <% @even_index_prompts.each do |prompt_object| %>
          <h4><%= prompt_object.custom_question %></h4>
          <p><%= prompt_object.custom_answer %></p>
        <%end%>
      </div>
      <div class="span6">
        <% @odd_index_prompts.each do |prompt_object| %>
          <h4><%= prompt_object.custom_question %></h4>
          <p><%= prompt_object.custom_answer %></p>
        <%end%>
      </div>
    </div>
  </div>


<div class="row-fluid marketing">
    <div class="row-fluid span12">  
    <% if @pitch_attachments.any? %>
     <h3> Attachments: </h3>
     <ul id="existing_attachments">
      <% @pitch_attachments.each do |pitch_attachment_object| %>
        <li class="row-fluid span3">
          <b> Name: </b><%= pitch_attachment_object.name %><br>
          <%= link_to image_tag(pitch_attachment_object.attachment_url), pitch_attachment_object.attachment_url.to_s%><br>
          Click thumbnail to Download<br>
          <!-- <b> Pitch Attachment ID: </b> --> <%#= pitch_attachment_object.id %>
          <!-- <b> Pitch ID: </b>  --><%#= pitch_attachment_object.pitch_id %>
          <%= link_to "Delete this attachment", pitch_attachment_destroy_url(pitch_attachment_object.id), method: 'delete' %>
        </li>
      <%end%>
    <%end%>
  </div>
</div>

      <hr>



