<div class="container-fluid span10 offset2">
  <div class="jumbotron">
<% if @pitch.job_id != nil %>
  <b>Job Title:</b> <%= link_to @pitch.job.title, job_path(@pitch.job_id) %><br>
<% else %>
  <!-- <b>Job Title: No Associated Job (job_id)</b><br> -->
<%end%>





<p class="lead">Copy this Pitch link: <%= @pitch.url_string %></p>
<p class="lead"><%= link_to "Edit this Pitch", edit_pitch_url(@pitch.id) %></p>

<% if session[:employer_id]%>
    <b>Like what you see? </b>
    <br> Email this candidate: <%= link_to @pitch.user.email, email_url(@pitch.id)%>
<%end%>



  <h4><%=@pitch.user.first_name.capitalize %>'personal pitch</h4>
  <% if session[:user_id] && @pitch.job_id.nil? %>
        
  <h1><%= @pitch.headline%></h1>
  

  <div class="row-fluid span12">
    <%= image_tag @pitch.avatar_url(:thumb).to_s, :size=>'100x100', :class => "row-fluid span2"%>

    <p class="row-fluid span8"><b><%= @pitch.user.first_name.capitalize%>'s Story:</b> In a previous life I was a cancer researcher. My life was dedicated to improve the lives of our patients.  After 7 years, I discovered a love for programming.  I started graviatingn more and more with the progammers.  My sister introduced me to Codecademy's online learning system.  I was hooked.  I finally reached a point where I was tired of playing in sandboxes and wanted to actually create.  That's why I applied to The Starter League in Chicago.  Upon my acceptance, I resigned from my job, sold my house, packed my bags and flew to Chicago.   </p>
  </div>
        
      <%end%>
      

      <hr>
  
  <div class="row-fluid span12">

    <div class="row-fluid span8 marketing">

      <div class="span6">
        <% @even_index_prompts.each do |prompt_object| %>
          <h4><%= prompt_object.custom_question %></h4>
          <p><%= prompt_object.custom_answer %></p>
        <%end%>
      </div>

      <div class="span6">
        <% @odd_index_prompts.each do |prompt_object| %>
          <h4><%= prompt_object.custom_question %></h4>
          <p><%= prompt_object.custom_answer %></p>
        <%end%>
      </div>


    </div>

    <section class="row media">
    


    <div class="row-fluid span4 "><iframe width="100%" height="300px"src= "<%=@pitch.video_link%>" frameborder="0" allowfullscreen></iframe></div>


  </div>

<div class="row-fluid marketing">
    <div class="row-fluid span12">  
    <% if @pitch_attachments.any? %>
     <h3> Attachments: </h3>
     <ul id="existing_attachments">
      <% @pitch_attachments.each do |pitch_attachment_object| %>
      <b> Name: </b><%= pitch_attachment_object.name %><br>
      <%= link_to image_tag(pitch_attachment_object.attachment_url), pitch_attachment_object.attachment_url.to_s, :width => "100%"%><br>
        <li class="row-fluid span3">
          
          <%= link_to "Delete this attachment", pitch_attachment_destroy_url(pitch_attachment_object.id), method: 'delete' %></br></br>
        </li>
      <%end%>
    <%end%>
  </div>
</div>

      <hr>



