 
<h1> A Pitch From <%=@pitch.user.first_name %></h1>
<b>Pitch Headline: <%= @pitch.headline %></b><br>
<% if @pitch.job_id != nil %>
<b>Job ID:</b> <%= link_to @pitch.job_id, job_path(@pitch.job_id) %><br>
<%end%>
<b> Photo: </b><br>
<%= image_tag @pitch.avatar_url(:thumb).to_s %>
<b> <%#= link_to "Create View Link", shorten_url(@pitch.id), html_options = { :method => "post" } %>
<br>

<b> Resume: </b><br>
<%= image_tag @pitch.resume_url.to_s %>
<br>

<% if session[:user_id] && @pitch.job_id.nil? %>
  <b> Share this Pitch: </b> <br>
  <%= @pitch.url_string %>
<%end%>


<% if session[:employer_id]%>
    <b>Like what you see? </b>
    <br> Email this candidate: <%= link_to @pitch.user.email, email_url(@pitch.id)%>
<%end%>
<!--  Mockup of future pitch show page below -->
<% @video_link1 = "http://www.youtube.com/embed/TpvuvFkggaw" %>
<% @video_link2 = "http://www.youtube.com/embed/QjlFqgRbICY" %>

<div class="container fluid jumbotron">
        <h1><%= @pitch.headline %></h1>
        <% if session[:user_id] && @pitch.job_id.nil? %>
        <p class="lead"><b> Copy this Pitch link: </b><%=link_to "Link for employer",  @pitch.url_string %></p>
        <%end%>
      </div>

      <hr>
      <section class="row media">
      	<div class="span6">
    		<div class="flex-video widescreen"><iframe width="400" height="225" src= "<%=@video_link1%>" frameborder="0" allowfullscreen></iframe></div>
  		</div>
  		<div class="span6">
    		<div class="flex-video widescreen"><iframe width="400" height="225" src= "<%=@video_link2%>" frameborder="0" allowfullscreen></iframe></div>
  		</div>
	  </section>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; ThePitch 2012</p>
      </div>





