
<h1> A Pitch From <%=@pitch.user.first_name %></h1>
<b>Pitch Headline: <%= @pitch.headline %></b><br>
<% if @pitch.job_id != nil %>
<b>Job Title:</b> <%= link_to @pitch.job.title, job_path(@pitch.job_id) %><br>
<% else %>
<b>Job Title: No Associated Job (job_id)</b><br>
<%end%>

<b> Photo: </b><br>
<%= image_tag @pitch.avatar_url(:thumb).to_s %>
<b> <%#= link_to "Create View Link", shorten_url(@pitch.id), html_options = { :method => "post" } %>
<br>

<b> Resume: </b><br>
<%= image_tag @pitch.resume_url.to_s %>
<br>

<% if session[:user_id] && @pitch.job_id.nil? %>
  <b> Share this Pitch: </b> <br>
  <%= @pitch.url_string %>
<%end%>


<% if session[:employer_id]%>
    <b>Like what you see? </b>
    <br> Email this candidate: <%= link_to @pitch.user.email, email_url(@pitch.id)%>
<%end%>
