<h1>Edit <%= @user.first_name %>'s Information</h1>

<%= form_for(@user, :url => "/users/#{@user.id}") do |f| %>

	<%= f.label :first_name%>
  	<%= f.text_field :first_name%>
    
  	<%= f.label :last_name%>
    <%= f.text_field :last_name%>

 	<%= f.label :email%>
    <%= f.text_field :email%>

   	<%= f.submit %>
    <%= link_to "or Cancel", user_url(@user.id) %>

<% end%>