<h1>Edit User <%= @user.id %></h1>

<%= form_for(@user, :url => "/user/#{@user.id}") do |f| %>

  <p><%= f.label :first_name%>
    <%= f.text_field :first_name%></p>
    
  <p><%= f.label :last_name%>
    <%= f.text_field :last_name%></p>

  <p><%= f.label :email%>
    <%= f.text_field :email%></p>

    <p><%= f.submit %>
      <%= link_to "or Cancel", users_path %></p>

<% end%>