<div class="row-fluid">
  <div class="span5 well user_form">
<%= form_for @pitch_attachment, url: pitch_attachment_create_url, :method => :post, id: "new_pitch_attachment_form", :html => { :class => "form-horizontal"} do |f| %>

  <fieldset>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label :description %><br>
  <%= f.text_field :description %><br><br>
<%# if !@pitch_attachment.attachment %>
  <%= f.label :attachment  %><br>
  <%= f.file_field :attachment %><br>
<%#end%>
  <%= f.hidden_field :pitch_id, :value => @pitch_id %>

  <%= f.submit "Submit",:class => "btn btn-primary"%>
  <%= link_to "Cancel", edit_pitch_url(@pitch_id), :class => "btn btn-primary" %>
  </fieldset> 
<% end%>
  </div>
<!-- 
  <div class="right_sidebar span7"> -->

  </div>
</div>