<div class="row-fluid">
  <div class="span5 well user_form">
	<%= form_for @employer, :html => {:class => "form-horizontal"} do |e| %>
 	<fieldset>
		<%= e.label :name %>
		<%= e.text_field :name, :class => "span12" %>

		<%= e.label :email %>
		<%= e.text_field :email, :class => "span12" %>

		<%= e.label :description %>
		<%= e.text_field :description, :class => "span12" %>

		<%= e.label :password %>
		<%= e.password_field :password, :class => "span12"%>

		<%= e.label :password_confirmation %>
		<%= e.password_field :password_confirmation, :class => "span12"%>


		<%= e.submit "Submit"%>
		<%= link_to "or Cancel", root_url %>
	</fieldset>
	<% end %>
  </div>

  <div class="right_sidebar span7">

  </div>
</div>