<h1><%= @employer.name.capitalize %>'s Dashboard</h1></br>
<%= @employer.description %></br></br>
<h3>SESSION ID: <%= session[:employer_id] %></h3>

<p><strong>Open Jobs:</strong><br>
<ul>
<%@employer.job.each do |job| %>
	<li>
	Job Title:<%= job.title%></br>
	Description:<%= job.description%></br>
	<%= link_to 'Job Details', job_url(job.id) %>
	</li>
<% end %>

<br><br><br>
<%= link_to 'new job', new_job_url %>
