<!DOCTYPE html>
<html>
<head>
  <title>ThePitch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="notice">
    <h3> <%= flash[:message] %> </h3>
  </div>

<div class="container">



<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_url %>">ThePitch</a>
      
    <ul class="nav">
      <% if session[:user_id]==nil && session[:employer_id] == nil %>
      <% elsif Employer.find_by_id(session[:employer_id])%>
      <li class="active"><%= link_to "Dashboard", employer_url(session[:employer_id]) %></li>
      <li><%= link_to "New Job", new_job_url %></li>
      <li><%= link_to "Jobs Listing", jobs_url %></li>
      <li><%= link_to "Logout", logout_url%></li>
      <% elsif User.find_by_id(session[:user_id])%>
      <li><%= link_to "Dashboard", user_url(session[:user_id]) %></li>
      <li><%= link_to "Jobs Listing", jobs_url %></li>
      <li><%= link_to "New Pitch", new_pitch_url %></li>
      <li><%= link_to "Logout", logout_url%></li>
      <%end%>
    </ul>

  </div>
</div>


<%= yield %>
</container>
</body>
</html>
