<!DOCTYPE html>
<html>
<head>
  <title>ThePitch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to "Employers", employers_url %> |
  
  <%= link_to "New Employer", new_employer_url %> |
  
  <%= link_to "Pitches", pitches_url %> |
  
  <%= link_to "New Pitch", new_pitch_url %> |

  <%= link_to "Users", users_url %> |

  <%= link_to "New Users", new_user_url %> |



</nav>
<%= yield %>

</body>
</html>
